%table.p-time-table__table
  %tr
    %th.p-time-table__th 時間
    %th.p-time-table__th 題目
    %th.p-time-table__th 内容
  %tr.p-time-table__tr
    %td.p-time-table__td 09:30 - 10:00
    %td.p-time-table__td 受付
  %tr.p-time-table__tr
    %td.p-time-table__td 10:00 - 10:10
    %td.p-time-table__td ごあいさつ
  %tr.p-time-table__tr
    %td.p-time-table__td 10:10 - 11:10
    %td.p-time-table__td Ninja Talk 1
    %td.p-time-table__td.is-text-left
      =link_to "@fugakkbn", "https://x.com/fugakkbn"
      =link_to "@hyumanase", "https://x.com/hyumanase"
      =link_to "@neko314_", "https://x.com/neko314_"
  %tr.p-time-table__tr 
    %td.p-time-table__td 11:10 - 11:15
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 11:15 - 11:55
    %td.p-time-table__td 企画モノ
    %td.p-time-table__td.is-text-left
      TBD
  %tr.p-time-table__tr 
    %td.p-time-table__td 11:55 - 13:25
    %td.p-time-table__td お昼ご飯
  %tr.p-time-table__tr 
    %td.p-time-table__td 13:25 - 14:25
    %td.p-time-table__td Ninja Talk 2
    %td.p-time-table__td.is-text-left
      =link_to "@yancya", "https://x.com/yancya"
      =link_to "@bash0C7", "https://x.com/bash0C7"
      =link_to "@a_matsuda", "https://x.com/a_matsuda"
  %tr.p-time-table__tr 
    %td.p-time-table__td 14:25 - 14:30
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 14:30 - 15:00
    %td.p-time-table__td 招待講演
    %td.p-time-table__td.is-text-left
      irbコミッター
      =link_to "@hasumikin", "https://x.com/hasumikin"
      =link_to "@tompng", "https://x.com/tompng"
      =link_to "@ima1zumi", "https://x.com/ima1zumi"
  %tr.p-time-table__tr 
    %td.p-time-table__td 15:00- 15:15
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 15:15 - 16:15
    %td.p-time-table__td Ninja Talk 3
    %td.p-time-table__td.is-text-left
      =link_to "@Inoue_0852", "https://x.com/Inoue_0852"
      =link_to "@nay3", "https://x.com/nay3"
      =link_to "@ogijun", "https://x.com/ogijun"
  %tr.p-time-table__tr 
    %td.p-time-table__td 16:15- 16:20
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 16:20 - 16:50
    %td.p-time-table__td 招待講演
    %td.p-time-table__td.is-text-left
      =link_to "@inao", "https://x.com/inao"
  %tr.p-time-table__tr 
    %td.p-time-table__td 16:50 - 16:55
    %td.p-time-table__td おしまい
