%table.p-time-table__table
  %tr
    %th.p-time-table__th 時間
    %th.p-time-table__th 題目
    %th.p-time-table__th 内容
  %tr.p-time-table__tr
    %td.p-time-table__td 09:30 - 10:00
    %td.p-time-table__td 受付
  %tr.p-time-table__tr
    %td.p-time-table__td 10:00 - 10:10
    %td.p-time-table__td ごあいさつ
  %tr.p-time-table__tr
    %td.p-time-table__td 10:10 - 11:10
    %td.p-time-table__td Ninja Talk 1
    %td.p-time-table__td.is-text-left
      %a{:href => "https://twitter.com/neko314_"} @neko314_
      %a{:href => "https://twitter.com/ogijun"} @ogijun
      %a{:href => "https://twitter.com/hyumanase"} @hyumanase
  %tr.p-time-table__tr 
    %td.p-time-table__td 11:10 - 11:15
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 11:15 - 11:55
    %td.p-time-table__td 企画モノ
    %td.p-time-table__td.is-text-left
      %a{:href => "https://twitter.com/mametter"} @mametter
      %a{:href => "https://twitter.com/_ko1"} @_ko1
  %tr.p-time-table__tr 
    %td.p-time-table__td 11:55 - 13:25
    %td.p-time-table__td お昼ご飯
  %tr.p-time-table__tr 
    %td.p-time-table__td 13:25 - 14:25
    %td.p-time-table__td Ninja Talk 2
    %td.p-time-table__td.is-text-left
      %a{:href => "https://twitter.com/yancya"} @yancya
      %a{:href => "https://twitter.com/Inoue_0852"} 井上会長
      %a{:href => "https://twitter.com/nay3"} @nay3
  %tr.p-time-table__tr 
    %td.p-time-table__td 14:25 - 14:30
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 14:30 - 15:00
    %td.p-time-table__td 招待講演
    %td.p-time-table__td.is-text-left
      irbコミッターず
      %a{:href => "https://twitter.com/hasumikin"} @hasumikin
      %a{:href => "https://twitter.com/ima1zumi"} @ima1zumi
      %a{:href => "https://twitter.com/tompng"} @tompng
  %tr.p-time-table__tr 
    %td.p-time-table__td 15:00- 15:15
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 15:15 - 15:55
    %td.p-time-table__td Ninja Talk 3
    %td
  %tr.p-time-table__tr 
    %td.p-time-table__td 15:55- 16:00
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 16:00 - 16:50
    %td.p-time-table__td 基調講演
    %td.p-time-table__td.is-text-left
      %a{:href => "https://twitter.com/inao"} WEB+DB PRESS 編集長 稲尾さん
  %tr.p-time-table__tr 
    %td.p-time-table__td 16:50 - 16:55
    %td.p-time-table__td ごあいさつ
%p.p-time-table__text--guide 
  の後は、各自お買い物して
  %br
  ＼懇親会会場 花やしきへGo!!!／
