%table.p-time-table__table
  %tr
    %th.p-time-table__th 時間
    %th.p-time-table__th 題目
    %th.p-time-table__th 内容
  %tr.p-time-table__tr
    %td.p-time-table__td 09:30 - 10:00
    %td.p-time-table__td 受付
  %tr.p-time-table__tr
    %td.p-time-table__td 10:00 - 10:10
    %td.p-time-table__td ごあいさつ
  %tr.p-time-table__tr
    %td.p-time-table__td 10:10 - 11:10
    %td.p-time-table__td Ninja Talks 1
    %td.p-time-table__td.is-text-left
      %dl
        %dt
          =link_to "@fugakkbn", "https://twitter.com/fugakkbn"
        %dd
          Days of struggle as a Cop
        %dt
          =link_to "@hyumanase", "https://twitter.com/hyumanase"
        %dd
          造って学んだ発酵食の世界
        %dt
          =link_to "@neko314_", "https://twitter.com/neko314_"
        %dd
          観る将、指す将、TyP 〜時を越えた将棋指しの魅力〜
  %tr.p-time-table__tr 
    %td.p-time-table__td 11:10 - 11:15
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 11:15 - 11:55
    %td.p-time-table__td だしもの
    %td.p-time-table__td.is-text-left
      %dl
        %dt
          =link_to "@koichisasada", "https://twitter.com/koichisasada"
          =link_to "@mametter", "https://twitter.com/mametter"
        %dd
          朝会
  %tr.p-time-table__tr 
    %td.p-time-table__td 11:55 - 13:25
    %td.p-time-table__td お昼ご飯
  %tr.p-time-table__tr 
    %td.p-time-table__td 13:25 - 14:25
    %td.p-time-table__td Ninja Talks 2
    %td.p-time-table__td.is-text-left
      %dl
        %dt
          =link_to "@yancya", "https://twitter.com/yancya"
        %dd
          YouTubeチャンネルを支える技術？
        %dt
          =link_to "@bash0C7", "https://twitter.com/bash0C7"
        %dd
          継続的 #RubyMuscleMixin 実践入門 (<a href="https://speakerdeck.com/bash0c7/whats-number-rubymusclemixin-number-oedo10" target="_blank">スライド</a>)
        %dt
          =link_to "@a_matsuda", "https://twitter.com/a_matsuda"
        %dd
          Hanamiを支える技術 2023 (<a href="https://speakerdeck.com/a_matsuda/asakusa-dot-rb-hanami-2023" target="_blank">スライド</a>)

  %tr.p-time-table__tr 
    %td.p-time-table__td 14:25 - 14:30
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 14:30 - 15:00
    %td.p-time-table__td 招待講演
    %td.p-time-table__td.is-text-left
      %dl
        %dt
          IRBコミッターズ
          =link_to "@hasumikin", "https://twitter.com/hasumikin"
          =link_to "@tompng", "https://twitter.com/tompng"
          =link_to "@ima1zumi", "https://twitter.com/ima1zumi"
        %dd
          IRB Committers and The World
  %tr.p-time-table__tr 
    %td.p-time-table__td 15:00- 15:15
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 15:15 - 16:15
    %td.p-time-table__td Ninja Talks 3
    %td.p-time-table__td.is-text-left
      %dl
        %dt
          =link_to "@Inoue_0852", "https://twitter.com/Inoue_0852"
        %dd
          その昔島根で起きたこと
        %dt
          =link_to "@nay3", "https://twitter.com/nay3"
          =link_to "@r__handa", "https://twitter.com/r__handa"
          =link_to "@w_e_b_coffee", "https://twitter.com/w_e_b_coffee"
        %dd
          『Rubyメソッドかるた』王者への道 〜万葉チームのガチな取り組みを大公開〜 (<a href="https://speakerdeck.com/nay3/rubymesotudokaruta-wang-zhe-henodao-mo-xie-timunogatinaqu-rizu-miwoda-gong-kai" target="_blank">スライド</a>)
        %dt
          =link_to "@ogijun", "https://twitter.com/ogijun"
        %dd
          Yet Another Red Gem (<a href="https://speakerdeck.com/ogijun/yet-another-red-gem" target="_blank">スライド</a>)
  %tr.p-time-table__tr 
    %td.p-time-table__td 16:15- 16:20
    %td.p-time-table__td 休憩
  %tr.p-time-table__tr 
    %td.p-time-table__td 16:20 - 17:00
    %td.p-time-table__td 招待講演
    %td.p-time-table__td.is-text-left
      %dl
        %dt
          =link_to "@inao", "https://twitter.com/inao"
        %dd
          WEB+DB PRESSと私 (<a href="https://speakerdeck.com/inao/oedo10" target="_blank">スライド</a>)
  %tr.p-time-table__tr 
    %td.p-time-table__td 17:00 - 17:05
    %td.p-time-table__td おしまい
